.app__title {
    padding-top: 20px;
    padding-bottom: 20px;
    color: gray;
}

.app__filter {

}

.app__error {
    margin-top: 20px;
}

.app__main {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    height: 100%;
}

.app__header {
    flex: 1;
    margin-bottom: 10px;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {

}

@media only screen and (max-width: 767px) {
    .app__filter {
        flex-direction: column;
    }

    .app__row {
        width: 100%;
        margin: 0 auto;
    }

    .app__main {
        width: 80%;
        padding: 0;
        margin: 0 auto;
    }
}